.App {
  text-align: center;
}

.App-header {
  background-color: rgb(148, 129, 167);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.search-input {
  padding: 10px;
  margin: 20px 0;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(148, 129, 167);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.search-input {
  padding: 10px;
  margin: 20px 0;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: rgb(116, 99, 215);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  color: black;
  font-style: oblique;
  text-align: center;
  width: 200px;
}

.movie img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie h2 {
  font-size: 1.2em;
  margin: 10px 0 5px 0;
}

a {
  text-decoration: none;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-list-title {
  margin-right: 20px;
}


.add-movie-button {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 1em;
  padding: 10px 20px;
  background-color: pink;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}


.add-movie-form {
  width: auto;
  height: 50px;
}

.search-bar input {
  width: 400px;
  height: 40px;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search-bar {
  margin-bottom: 20px;
}
